*{
 box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.app{
  display: flex;
  gap: 5%;
  align-items: center;
}
button{
  border: 0;
  background-color: coral;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-weight: 700;
}
span{
  width: 40px;
  text-align: center;
}
